@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-branco: #F7F7F7;
    --cor-preto: #1f1f1f;
    --cor-amarelo: #FFC107;
    --cor-comentario: #6A9955;
    --cor-var:#569CD6;
    --cor-var-outro: #9CDCFE;
    --cor-string: #CE9178;
    --cor-numero: #B5CEA8;
    --cor-comando:#C586C0;

    --fonte-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-preto);
    background-color: var(--cor-branco);
}

.cabecalho {
    margin-left: 1%;
    padding: 1%;
    display: flex;
}

.cabecalho-titulo-site {
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-preto);
    text-decoration: none;
}

.cabecalho-titulo-site-destaque {
    color: var(--cor-amarelo);
}

.cabecalho-subtitulo-site {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1%;
}

.apresentacao {
    padding: 0% 3% 2% 3%;
    display: flex;
    flex-direction: column;
}

.apresentacao-sobre {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    border-radius: 1.25rem;
    padding: 2%;
    margin: 1% 6%;
    text-align: center;
}

.apresentacao-mais {
    display: flex;
    flex-direction: column;
    margin: 1% 6%;
    gap: 1.25rem;
}

.apresentacao-conteudo-mais {
    border: 1px solid var(--cor-preto);
    border-radius: 1.25rem;
    padding: 2%;
    list-style-position: inside;
}

.apresentacao-conteudo-subtitulo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1%;
}

.apresentacao-exemplo {
    border-radius: 1.25rem;
    padding: 2%;
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}

.apresentacao-exemplo-comentario {
    color: var(--cor-comentario);
}

.apresentacao-exemplo-var {
    color: var(--cor-var)
}

.apresentacao-exemplo-string {
    color: var(--cor-string);
}

.apresentacao-exemplo-numero {
    color: var(--cor-numero);
}

.apresentacao-exemplo-var-outro {
    color: var(--cor-var-outro);
}

.apresentacao-exemplo-comando {
    color: var(--cor-comando);
}

input[type=button] {
    border: none;
    border-radius: 0.3rem;
    padding: 0.7%;
    margin-top: 2%;
    cursor: pointer;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    font-family: var(--fonte-principal);
    font-weight: 500;
}

input[type=button]:hover {
    background-color: var(--cor-amarelo);
}

strong {
    font-weight: 500;
}

.rodape { 
    padding: 1.5rem;
    text-align: center;
    background-color: var(--cor-preto);
}

.rodape-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-branco);
}