@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-branco: #F7F7F7;
    --cor-cinza: #45474B;
    --cor-amarelo: #FFC107;

    --fonte-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    color: #45474B;
    background-color: var(--cor-branco);
}

.cabecalho {
    margin-left: 1%;
    padding: 2%;
    display: flex;
}

.cabecalho-titulo-site {
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-cinza);
    text-decoration: none;
}

.cabecalho-titulo-site-destaque {
    color: var(--cor-amarelo);
}

.cabecalho-subtitulo-site {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1%;
}

.apresentacao {
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
}

.apresentacao-conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao-conteudo-subtitulo {
    font-size: 2rem;
    font-weight: 500;
}

.apresentacao-conteudo-sobre {
    border: 1px solid #45474B;
    border-radius: 40px;
    padding: 2%;
    list-style-position: inside;
}

strong {
    font-weight: 500;
}

.apresentacao-exemplo {
    width: 55%;
    border: 1px solid #45474B;
    border-radius: 40px;
}

.rodape {   
    padding: 24px;
    text-align: center;
    background-color: #45474B;
}

.rodape-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #F7F7F7;
}