@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-branco: #F7F7F7;
    --cor-cinza: #45474B;
    --cor-amarelo: #FFC107;

    --fonte-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-cinza);
    background-color: var(--cor-branco);
}

.cabecalho {
    margin-left: 1%;
    padding: 1%;
    display: flex;
}

.cabecalho-titulo-site {
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-cinza);
    text-decoration: none;
}

.cabecalho-titulo-site-destaque {
    color: var(--cor-amarelo);
}

.cabecalho-subtitulo-site {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1%;
}

.apresentacao {
    padding: 0% 3% 2% 3%;
    display: flex;
    flex-direction: column;
}

.apresentacao-sobre {
    background-color: var(--cor-cinza);
    color: var(--cor-branco);
    border-radius: 20px;
    padding: 2%;
    margin: 1% 6%;
    text-align: center;
}

.apresentacao-mais {
    display: flex;
    flex-direction: column;
    margin: 1% 6%;
    gap: 20px;
}

.apresentacao-conteudo-mais {
    border: 1px solid var(--cor-cinza);
    border-radius: 20px;
    padding: 2%;
    list-style-position: inside;
}

.apresentacao-conteudo-subtitulo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1%;
}

strong {
    font-weight: 500;
}

.rodape { 
    padding: 24px;
    text-align: center;
    background-color: var(--cor-cinza);
}

.rodape-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-branco);
}